.nav{
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.jumbotron{
  text-align: center;
}
.self{
  border: 1px solid lightblue;
  margin-left: 5vw;
}
.red{
  background-color: #ff1a1a;
}
.blue{
  background-color: #0033cc;
}
.green{
  background-color: #00cc66;
}
.jr{
  position:absolute;
  margin-left: 500px;
  margin-top: 50px;
  width:100px;
  height: 100px;
  content: url("imgs/jrizal.jpg");
  border-radius: 100%;
}
span.test{
  position: absolute;
  content: '';
  margin-left: 5vw;
  height: 30vh;
  width: 90vw;
  transform: skew(-20deg);
}
.data p,.data ul{
  margin-top: 10px;
  margin-left: 10vw;
  color: white;
}
.row.line{
  border-bottom: 1px solid white;
}
.row.me{
  margin-bottom: 3vh;
  padding-bottom: 5vh;
}
li{
  font-size: 12px;
}
@media only screen and (max-width: 550px){
  .self,.data{
    text-align: center
  }
  img{
    margin: auto;
    width: 80vw;
    height: 100vw;
  }
  ul{
    margin: 0;
    padding:0;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 3vh;
    padding-top: 3vh;
    list-style-type: none;
  }
}
