.jumbotron{
  text-align: center;
}
.self{
  border: 1px solid lightblue;
  margin-left: 5vw;
}
.data{
  margin-top: 10px;
  color: white;
}
.row.line{
  border-bottom: 1px solid white;
}
.row.me{
  margin-bottom: 3vh;
  padding-bottom: 5vh;
}
li{
  font-size: 12px;
}
@media only screen and (max-width: 550px){
  .self,.data{
    text-align: center
  }
  img{
    margin: auto;
    width: 80vw;
    height: 100vw;
  }
  ul{
    margin: 0;
    padding:0;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 3vh;
    padding-top: 3vh;
    list-style-type: none;
  }
}
